---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Article from "~/components/Article.astro";

---

<Layout>
	<Section class:list={'bg-white'}>
		<Article>
			<h2>关于我们</h2>
			<p>
				我们是一家非盈利公益性学校。
				我们的中文课程起源于几位老师和家长为自己孩子自发组织的语文学习。
				由于孩子们长期在海外生活，我们希望他们也能系统地学习中文，打好语言基础。
				几位老师本身具有丰富的教学经验。
				在一次次交流中，我们决定联合起来，为更多孩子提供高质量、专业的中文教学。
			</p>

			<h3>我们的教学理念</h3>
			<b>1. 采用国内统编教材，教学内容与中国同步</b>
			<p>
				我们采用中国教育部统一编写的《语文》教材（统编版），这是目前全国通用的语文课本，内容系统且规范。
				教学实践中我们发现，用统编教材学习，能有效帮助孩子建立稳固的中文基础。
			</p>

			<b>2. 坚持小班授课，关注每个孩子</b>
			<p>
				每班不超过10人，确保老师能照顾到每一位学生的学习情况。小班教学不仅提升课堂效率，也能激发孩子学习中文的兴趣。
			</p>
			<b>3.个性化课程与专属辅导</b>
			<p>
				针对不同年龄与水平的孩子，我们设置定制课程，提供专属辅导与快速反馈，真正做到因材施教。
			</p>
			<b>4. 课程多样化，选择灵活</b>
			<p>
				提供多种课程类型，满足不同需求，最大程度激发孩子学习中文的主动性与自驱力。解放家长，孩子也能快乐地掌握中文。
			</p>
			<b>5. 可长期固定老师，保障教学连贯性</b>
			<p>
				开班后，家长可以选择长期固定授课老师，确保孩子的学习连贯、不掉队。
			</p>
			<b>6. 不定期提供育儿指导课程</b>
			<p>
				我们关心每一个家庭的成长，学校将不定期为家长提供免费的育儿指导课程。
			</p>
		</Article>
	</Section>
</Layout>
