---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
---

<Layout>
	<Section>
		<Heading>
			<h2 slot="heading-title" class="font-black text-brand-blue h2">
				Unser Kontakt
			</h2>
		</Heading>
		<div class="prose max-w-none order-2">
			<p class="text-center">
				<b>E-Mail:</b> info@huayuan.de
			</p>
			<p class="text-center">
				<b>WhatsApp:</b> 029392020392
			</p>
			<p class="text-center">
				<b>WeChat:</b> 0dksoekd_sid
			</p>
		</div>
	</Section>
</Layout>