---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
---

<Layout>
    <Section>
        <Heading>
            <h2 slot="heading-title" class="font-black text-brand-light-blue h2">Impressum</h2>
            <p slot="heading-content" class="text-left text-pretty">
                <b>Angaben gemäß §§ 5 und 6 DDG:</b><br>
                Huayuan Chinesische Sprachschule München e. V.
            </p>
            <p slot="heading-content" class="text-left text-pretty">
                <b>Die Huayuan Chinesisch Sprachschule München e.V. wird vertreten durch ihre Direktorin:</b><br>
                Xu Chunyan
            </p>
            <p slot="heading-content" class="text-left text-pretty">
                <b>Vereinsregister:</b> <br>
                Registergericht: Amtsgericht München<br>
                Registernummer: -
            </p>
        </Heading>
    </Section>
</Layout>
