---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import LessonsZHList from "~/components/LessonsZH.astro";
import FixedButton from "../components/FixedButton.astro";
---
<Layout>
	<Section>
		<!--<Heading>-->
		<!--	<h1 slot="heading-title" class="font-black text-brand-blue h2">课程介绍</h1>-->
		<!--</Heading>-->
		<FixedButton
			href="/contact"
			text="课程咨询"
			position='middle'

		/>
		<LessonsZHList/>
	</Section>
</Layout>
