---
const currentYear = new Date().getFullYear();
import { siteName } from "~/data/config";
---

<footer class="bg-brand-blue text-white">
	<div class="container pt-16 pb-8">
		<p class="text-center font-bold text-4xl text-white">华源<span class="text-brand-light-blue bg-white px-3 ml-1 rounded-lg">中文学校</span></p>
		<p class="mt-10 text-center text-sm">&copy; {currentYear} {siteName}. All rights reserved. <a class="underline" href="/privacy-policy">Privacy policy</a></p>
	</div>
</footer>
