---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
import {Picture} from "astro:assets";

import DummyQR from "~/assets/images/dummy_QR.png";
---

<Layout>
	<Section>
		<Heading>
			<h2 slot="heading-title" class="font-black text-brand-blue h2">
				Unser Kontakt
			</h2>
		</Heading>
		<div class="prose max-w-none order-2">
			<p class="text-center">
				<b>邮箱:</b> info@huayuan.de
			</p>

			<figure class="mx-auto w-24 lg:w-32">
				<Picture
					class:list={"w-full"}
					src={DummyQR}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
				<figcaption class="text-center text-base text-gray-600 mt-2">
					WhatsApp
				</figcaption>
			</figure>
			<figure class="mx-auto w-24 lg:w-32">
				<Picture
					class:list={"w-full"}
					src={DummyQR}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
				<figcaption class="text-center text-base text-gray-600 mt-2">
					WeChat
				</figcaption>
			</figure>
		</div>
	</Section>
</Layout>